:root{
  --bg: #021b08;
  --primary: #71f58c;
  --text: #d9fce0;
  --accent: #2bd2f0;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--bg);
}

.main{
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  border-radius: 20px;
  margin-inline: auto;
  margin-top: 5em;
  height: 50em;
  width: 30em;
}

#screen{
  /* display: flex; */
  background-color: var(--bg);
  height: 110px;
  margin: 30px;
  margin-bottom: 0;
  border-radius: 20px;
  color: var(--text);
  font-size: 3em;
  align-content: center;
  text-align: center;
  padding: 20px;
}
.key-pad{
  display: flex;
  flex-flow: wrap;
  background-color: var(--bg);
  /* height: 32em; */
  margin: 32px;
  margin-bottom: 2px;
  border-radius: 20px;
}
#ans{
  background-color: green;
  flex-grow: 1;
}

#all-clr{
  background-color: #cf2f2f;
}