:root{
    --bg: #021b08;
    --primary: #71f58c;
    --text: #d9fce0;
    --accent: #2bd2f0;
  }

/* Utility Classes */

.btn {
  border-radius: 20px;
  display: inline-block;
  letter-spacing: -0.05em;
  background-color: black;
  height:90px;
  width:90px;
  color: var(--text);
  margin: 0.1em;
  font-size: 50px;
  user-select: none;
  flex-grow: 1;
  border: none;
}

.container {
  width: 100vw;
}